<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.imooc.product.mapper.SysUserMapper">
    <resultMap id="BaseResultMap" type="com.imooc.product.pojo.SysUser">
        <!--
          WARNING - @mbg.generated
        -->
        <id column="userid" property="userid" jdbcType="VARCHAR"/>
        <result column="age" property="age" jdbcType="INTEGER"/>
        <result column="birthday" property="birthday" jdbcType="DATE"/>
        <result column="descs" property="descs" jdbcType="VARCHAR"/>
        <result column="uname" property="uname" jdbcType="VARCHAR"/>
    </resultMap>
    <select id="getSysUserById" resultType="com.imooc.product.pojo.SysUser"
            parameterType="java.lang.String">
        select
        *
        from
        sys_user
        where
        userid = #{userid,jdbcType=VARCHAR}
    </select>
</mapper>